<footer>
    <div class="footer">
        <div class="footer-name">
            <div class="footer-company">
                <!-- <img class="footer-logo" src="/images/Uravu.png" alt="Uravu Logo"> -->
                <h1 style="text-decoration: none;">SalesRadar</h1> 
            </div>
            <p>Bengaluru, Karnataka, India.</p>
            <button class="quote" href="#">Contact Us</button>  
        </div>
        <div class="copy-right">
            <p>© SalesRadar. All Rights Reserved.</p>
            <div class="policy">
                <p>Privacy Policy</p>
                <p>Cookie Policy</p>
            </div>
        </div>
        <div class="media">
            <div class="media-heading">     
                <h2>Join the Tech Revolution!</h2>
            </div>
            <div class="mail-heading">
                <i class="fa-regular fa-envelope"></i>     
                <input class="newsletter-email" type="email" placeholder="Enter your email address">
                <button class="newsletter-button">Subscribe</button>
            </div>   
            <div class="separator"></div>
            <div class="media-icons">
                <a class="socialMedia" href="https://www.instagram.com/uravulabs/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a class="socialMedia" href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></i></a>
                <a class="socialMedia" href="https://in.linkedin.com/company/uravu-labs" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                <a class="socialMedia" href="https://x.com/uravulabs" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
<script>
    document.getElementById('analysisType').addEventListener('change', function() {
       const selectedValue = this.value;
       document.getElementById('revenueTable').style.display = selectedValue === 'revenue' ? 'block' : 'none';
       document.getElementById('quantityTable').style.display = selectedValue === 'quantity' ? 'block' : 'none';
   });

//    document.getElementById('timeline').addEventListener('change', function() {
//        const selectedTimeline = this.value;
//        const loadingIndicator = document.getElementById('loading');

//        loadingIndicator.style.display = 'block';

//        let filteredMonths;
//        const currentDate = new Date();

//        if (selectedTimeline === 'thismonth') {
//            filteredMonths = getLastNMonths(3, currentDate);
//        } else if (selectedTimeline === 'previousmonth') {
//            filteredMonths = getLastNMonths(6, currentDate);
//        } else if (selectedTimeline === 'alltime') {
//            // Handle all time logic
//        }

//        updateTables(filteredMonths).then(() => {
//            loadingIndicator.style.display = 'none';
//        });
//    });

//    document.getElementsByClassName('exportButton').addEventListener('click', function() {
//     alert('Clicked');
//     const table = document.querySelector('#' + (document.getElementById('analysisType').value === 'revenue' ? 'revenueTable' : 'quantityTable') + ' table');
//     const workbook = XLSX.utils.table_to_book(table, { sheet: "Cohort Data" });
//     XLSX.writeFile(workbook, 'Cohort_Analysis.xlsx');
// });

    document.getElementById('exportButton').addEventListener('click', function() {
       const tableId = document.getElementById('analysisType').value === 'revenue' ? 'revenueTable' : 'quantityTable';
       const table = document.querySelector(`#${tableId} table`);
       
       if (table) {
           const workbook = XLSX.utils.table_to_book(table, { sheet: "Cohort Data" });
           XLSX.writeFile(workbook, 'Cohort_Analysis.xlsx');
       } else {
           alert("No table found to export.");
       }
    });

    document.getElementById('input-search').addEventListener('input', function() {
        const searchValue = this.value.toLowerCase();
        const tableId = document.getElementById('analysisType').value === 'revenue' ? 'revenueTable' : 'quantityTable';
        const rows = document.querySelectorAll(`#${tableId} tbody tr`);

        rows.forEach(row => {
            const brandName = row.cells[1].textContent.toLowerCase(); 
            if (brandName.includes(searchValue)) {
                row.style.display = ''; 
            } else {
                row.style.display = 'none';
            }
        });
    });
    
    document.getElementById('scrollToBottomButton').addEventListener('click', function() {
    const table = document.querySelector('.table-container table');
    if (table) {
        table.scrollIntoView({
            behavior: 'smooth',
            block: 'end',
            inline: 'nearest'
        });
    }
    });

    document.getElementById("sortLastOrdered").addEventListener('click', () => {
    const table = document.querySelector('.table-container table');
    let switching = true;
    let dir = "asc";
    let switchcount = 0;
    const dataRows = table.rows;


    while (switching) {
        switching = false;
        for (let i = 0; i < dataRows.length - 3; i++) { 
            const lastOrdered = dataRows[i].cells[2].textContent.trim();
            const currentOrdered = dataRows[i + 1].cells[2].textContent.trim();
            
            const lastOrderedValue = Number(lastOrdered);
            const currentOrderedValue = Number(currentOrdered);
            
            let shouldSwitch = false;

            if (dir === "asc") {
                if (lastOrderedValue > currentOrderedValue) {
                    shouldSwitch = true;
                }
            } else if (dir === "desc") {
                if (lastOrderedValue < currentOrderedValue) {
                    shouldSwitch = true;
                }
            }

            if (shouldSwitch) {
                table.tBodies[0].insertBefore(dataRows[i + 1], dataRows[i]);
                switching = true;
                switchcount++;
                break;
            }
        }

        if (switchcount === 0 && dir === "asc") {
            dir = "desc";
            switching = true;
        }
    }
});

document.getElementById("sortOrderMonth").addEventListener('click', () => {
    const table = document.querySelector('.table-container table');
    let switching = true;
    let dir = "asc";
    let switchcount = 0;
    const dataRows = table.rows;


    while (switching) {
        switching = false;
        for (let i = 0; i < dataRows.length - 3; i++) { 
            const lastOrdered = dataRows[i].cells[3].textContent.trim();
            const currentOrdered = dataRows[i + 1].cells[3].textContent.trim();
            
            const lastOrderedValue = Number(lastOrdered);
            const currentOrderedValue = Number(currentOrdered);
            
            let shouldSwitch = false;

            if (dir === "asc") {
                if (lastOrderedValue > currentOrderedValue) {
                    shouldSwitch = true;
                }
            } else if (dir === "desc") {
                if (lastOrderedValue < currentOrderedValue) {
                    shouldSwitch = true;
                }
            }

            if (shouldSwitch) {
                table.tBodies[0].insertBefore(dataRows[i + 1], dataRows[i]);
                switching = true;
                switchcount++;
                break;
            }
        }

        if (switchcount === 0 && dir === "asc") {
            dir = "desc";
            switching = true;
        }
    }
});



    


// document.getElementById('scrollToBottomButton').addEventListener('click', function() {
//     const data = document.getElementsByClassName("table-container");
//     data.scrollTo({
//         top: data.scrollHeight,
//         behavior: 'smooth'
//     });
// });



</script>
</body>
</html>
