<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/header.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <link href="/styles/final.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f4ede51a32.js"></script>
    <title>Uravu Dashboard</title>
</head>
<body>
<header>
    <div class="header">
        <div class="company">
            <a href="/dashboard">
            <!-- <img src="/images/wesli-Logo1.png" alt="Wesli Innovations Logo"> -->
             <img src="/images/Uravu.png" alt="Uravu Logo">
            <!-- <h1>Uravu Labs Pvt Ltd</h1> -->
        </a>
        </div>
        <div class="nav-bar">
            <!-- <div class="nav"><a href="/">Home</a></div> -->
            <div class="nav"><a class="main-nav" href="/dashboard" target="_blank">Dashboard</a>
                <div class="dropdown">
                    <a href="#"></a>
                </div></div>
            <div class="nav"><a class="main-nav" href="/revenueDayCohort">Cohort Analysis</a>
                <div class="dropdown">
                    <a href="/dailyCohort">Daily Analysis</a>
                    <a href="/weeklyCohort">Weekly Analysis</a>
                    <a href="/monthlyCohort">Monthly Analysis</a>                 
                </div></div>
            <div class="nav"><a class="main-nav" href="/contact">Graphical Analysis</a>
                <div class="dropdown">
                    <a href="#">Revenue Chart</a>
                    <a href="#">Bottly Quantity Chart</a>
                </div></div>
            
    <div class="menu-icon">
        <i class='bx bx-menu'></i>
    </div>
    <span class="material-symbols-outlined close hidden">
        close
    </span>
    </div>
    <div class="mobile-menu">
        <div class="side-nav"><a href="/products">Dashboard</a></div>
        <div class="side-nav"><a href="/services">Cohort Analysis</a></div>
        <div class="side-nav"><a href="/contact">Graphical Analysis</a></div>
    </div>
</header>
